/*散点图组件样式*/
.h5_component_point{
    color:#fff;
}
/*下面的代码好像不起作用*/
.h5_component_point .point {
    display: block;
    background-color: #1f6377;
    position: absolute;
    border-radius: 50%;
   /* -webkit-opacity:1;/!*!//为什么值为0不行呢*!/
    -webkit-transition:all 1s;*/
    opacity:1;
    -webkit-transition:all 1s;
}
.h5_component_point .name{
    height:30px;
    width: 100%;
    text-align: center;
    position: absolute;
    top:50%;
    margin-top: -15px;
    font-size: 22px;
}
.h5_component_point .per{
    font-size: .5em;
}