/*折线图组件样式*/
.h5_component_radar{

}
.h5_component_radar canvas{
    position: absolute;/*用canvas进行做动画的话将会涉及分层z-index，用到*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background-color: #eee;*/

}
.h5_component_radar .text{
    position: absolute;//漂浮
    font-size:12px;
    transition: all 1s;
}